aws-cdk-lib==2.140.0 #necesario para trabajar con cdk, desplegar infra con código
constructs>=10.0.0 #necesario para trabajar con aws-cdk-lib
boto3>=1.34.0#SDK para crear e interactuar con los servicios de AWS
#pillow>=10.0.0 #transformar imágenes
#python-magic>=0.4.27 #detecta el verdadero tipo de archivo ingresando en el archivo